.timer-container {
    /* width: 400px; */
    /* height: 400px; */
    border: 1px solid salmon;
    margin: 50px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.time-box {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 10px solid;
    border-left-color: #f2a365;
    border-right-color: #f2a365;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

span {
    font-weight: bolder;
    font-size: 50px;
}